{% extends "base.html" %}


{% load staticfiles %}


{% block title %}{{ title }}{% endblock title %}


{% block active_main %}active{% endblock active_main %}


{% block extra_head %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="static/js/requests.js"></script>
{% endblock extra_head %}


{% block content %}
<h3 style="text-align: center; font-weight: bold">Request list</h3>
<hr/>
<div id="requests_list">
  {% for req in requests %}
    <p>{{ req }}</p>
  {% endfor %}
</div>
{% endblock content %}
